	body{
		margin:0;
	}
	@font-face{
		font-family: Asap-Bold;
		src:url("fonts/Asap-Bold.ttf");

	}

	@font-face{
		font-family: Asap-Regular;
		src:url("fonts/Asap-Regular.ttf");

	}

	header{
		display: flex;
		flex-direction: row;
	    color: white;
	    background-color: #ffffff;
	    justify-content:space-around;
	    align-items: center;

	}
	footer{
		display: flex;
		flex-direction: row;
	    color: white;
	    background-color: #ffffff;
	    justify-content:center;
	    padding-top: 50px;
	    padding-bottom: 50px;

	}
	nav {
		display: flex;
		flex-direction: row;
			justify-content: space-between;
	}
	nav a{
		padding: 5px;
	}

	.bg1{
		background-image: url("images/bg1_repeat.png");
		display: flex;
		flex-direction: column;
	align-items: center;
	}


	.t1{
		font-family:Asap-Bold;
		font-size: 52pt;
		text-align: center;
		color: #ffffff;
	}
	.t2{
		font-family: Asap-Regular;
		font-size: 24pt;
		color:#ffffff;
		text-align: center;
	}
	#home{
		font-family: Asap-Bold;
		font-size: 18pt;
		color:#333333;
		text-decoration: none;
	}
	#about{
		font-family: Asap-Bold;
		font-size: 18pt;
		color:#999999;
		text-decoration: none;
	}
	#feed{
		font-family: Asap-Bold;
		font-size: 36pt;
		color: #333333;
	}
	#email{
		background-color: rgba(255,255,255,0.3);
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		width: 269px;
		color: #ffffff;
		height: 60px;
		font-family: Asap-Regular;
		font-size: 20.3pt;
		text-align: center;
		outline: none;
		padding: 0;
		margin: 0;
		border:0;
		
	}
	#emailconfirm{
		background-color:#2ecc71;
		color: #ffffff;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		height: 60px;
		width: 81px;
		font-size: 20.3pt;
		font-family: Asap-Regular;
		outline: none;
		margin-left: -8px;
		
	}
	.platform{
		font-size: 16pt;
		font-family: Asap-Regular;
		color:#ffffff;
	}

	.personalize{
		display: flex;
		
		flex-direction: column;
		align-items: center;
	}
	.feed{
		color: #333333;
		font-family: Asap-Bold;
		font-size: 36pt;
	}
	.getNotified{
		color: #999999;
		font-family: Asap-Regular;
		font-size: 20pt;

	}
	.allInOne{
		display: flex;
		flex-direction: column;
		
		justify-content: space-around;

	}
	.allInOnePlaceText{
		color: #333333;
		font-family: Asap-Bold;
		font-size: 36pt;
	}
	.illustrationText{
		color: #999999;
		font-family: Asap-Regular;
		font-size: 20pt;
	}
	.firstToKnow{
		padding-top: 100px;
		padding-bottom: 50px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.firstToKnowText{
		color: #333333;
		font-family: Asap-Bold;
		font-size: 36pt;
		text-align: bottom;
	}
	.knowTextIllustration{
		color: #999999;
		font-family: Asap-Regular;
		font-size: 20pt;
		text-align: right;
	}
	.firstToKnowContent{
		
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: right;
	}
	.section3{
		padding-top: 50px;
		padding-bottom: 100px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: #f5f5f5;
	}
	.illustration1{
		text-align: right;
	}
	.illustration2{
		padding-top: 150px;
	}
	.tryUpcomer{
		padding-bottom: 100px;
		padding-top: 50px;
		background-image: url("images/bg2.png");
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
	}
	.shareItemsHead{
		font-family: Asap-Bold;
		font-size: 36px;
		color: #ffffff;
	}
	.shareItemsContent{
		font-family: Asap-Regular;
		text-align: center;
		font-size: 24pt;
		color: #ffffff;
	}
	.shareItemsIcons img{
		height: 60px;
		width: 260px;
		padding-right: 10px;
	}
	.tryUpcomerText,
	.tryUpcomer p{
		font-family: Asap-Regular;
		font-size: 24pt;
		color: #ffffff;
	}
	.banner{
		display: flex;
		flex-direction: row;
		padding-top: 20px;
		background-color: #333333;
		align-items: center;
		justify-content: space-around;
		
	}
	.bannerText{
		font-family: Asap-Bold;
		font-size: 48pt;
		color: #ffffff;
		padding-top: 90px;
		margin-left: -70px;

	}

	.bannerSub{
	display: flex;
	flex-direction: row;
	}
	.whyWeDoHeaderText{
		font-family: Asap-Bold;
		font-size: 36pt;
		color: #333333;
	}
	.whyWeDoHeaderContent{
		font-family: Asap-Regular;
		font-size: 20pt;
		color: #999999;
		text-align: left;
	}
	.whyWeDoHeaderLeft{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.whyWeDoHeader{
		padding-top: 100px;
		padding-bottom: 100px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.aboutInAbout{
		font-family: Asap-Bold;
		font-size: 18pt;
		color:#333333;
		text-decoration: none;
	}
	.homeInAbout{
		font-family: Asap-Bold;
		font-size: 18pt;
		color:#999999;
		text-decoration: none;
	}
	.headerEnd{
		height: 3px;
		background-color: #f5f5f5;
	}
	.lookingForHeaderText{
		font-family: Asap-Bold;
		font-size: 36pt;
		color: #333333;
		text-align: center;
	}
	.lookingForHeader{
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-bottom: 150px;
	}
	.lookingForContainer p{
	font-family: Asap-Regular;
	font-size: 20pt;
	color: #999999;
	text-align: center;
	align-items: center;
	}
	.lookingForContainer{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.emailBox{
		height: 60px;
		width: 310px;
		background-color: #2ecc71;
		color: #ffffff;
		font-size: 20.3pt;
		font-family: Asap-Regular;
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
		border-bottom-left-radius: 30px;
		border-top-left-radius:30px; 
		text-align: center;
		border:0px;
		
	}
	.emailBoxContainer{
		padding-top: 30px;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #ffffff;
	  font-family: Asap-Regular;
	  font-size: 20.3pt;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #ffffff;
	  font-family: Asap-Regular;
	  font-size: 20.3pt;
	}
